# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env
.env.prod
.env.local

# IDE
.vscode/
.idea/

# Static files
staticfiles/

# macOS
.DS_Store

# Database migrations (istisna: sadece ilk migration)
!*/migrations/__init__.py

# Test coverage
.coverage
htmlcov/

# Production
docker-compose.override.yml

# Logs
logs/