{% autoescape off %}
Merhaba {{ user.get_username }},

TODO uygulamasındaki hesabınız için şifre sıfırlama talebinde bulundunuz.

Aşağıdaki linke tıklayarak yeni şifrenizi belirleyebilirsiniz:

{{ protocol }}://{{ domain }}{% url 'user_profile:password_reset_confirm' uidb64=uid token=token %}

Eğer bu talebi siz yapmadıysanız, bu e-postayı görmezden gelebilirsiniz.

Link çalışmıyorsa, aşağıdaki URL'yi tarayıcınıza kopyalayıp yapıştırabilirsiniz:
{{ protocol }}://{{ domain }}{% url 'user_profile:password_reset_confirm' uidb64=uid token=token %}

Teşekkürler,
TODO Uygulaması Ekibi

{% endautoescape %}